{# =============================================================== #}
{# Craft Cms Toolbar
{# =============================================================== #}
{#
  {% include '_partials/craft-cms-toolbar' %}
#}

{% set element = null %}
{% if entryId ??? null %}
  {% set element = craft.entries.id(entryId).one() %}
{% endif %}
{% if categoryId ??? null %}
  {% set element = craft.categories.id(categoryId).one() %}
{% endif %}

{% if element and canView(element) %}
  {% set primaryOwnerEntry = craft.entries.id(element.primaryOwnerId ??? null).one() ??? null %}
  {% set elementSection = element.section.name ??? element.group.name ??? primaryOwnerEntry.title ??? 'Preview' %}
  {% set elementTitle = element.title ??? element.type.name %}

  {# Editible Blocks #}
  {% set editableBlocks = [] %}
  {% if element.pageContent.count() ??? null %}
    {% set editableBlocks =  element.pageContent.eagerly().all() | map(block => {
      id: block.id ??? null,
      cpEditUrl: block.cpEditUrl ??? null,
      name: block.type.name ??? 'Block',
    }) %}
  {% endif %}

  <div
    class="craft-cms-toolbar"
    data-editable-blocks="{{ editableBlocks | json_encode }}"
  >
    {% set env = craft.app.config.env %}

    {% include '_partials/craft-cms-bar' with {
      link: {
        label: 'Edit Entry',
        url: element.cpEditUrl,
      },
      breadcrumbs: [
        { label: elementSection, url: primaryOwnerEntry.cpEditUrl ??? null },
        elementSection != elementTitle and 'Index' not in elementSection
          ? { label: elementTitle, url: null },
      ],
      environmentBadge: env not in ['production'] ? {
        label: env | title,
        modifiers: ['warning'],
        description: "The current environment is #{env | title}",
      },
    } only %}
  </div>
{% endif %}
