{# =============================================================== #}
{# Image Video
{# =============================================================== #}
{#
  {% include '_partials/image-video' with {
    asset: craft.assets.filename('*.jpg').orderBy('RAND()').one(),
    transform: '16x9',
    modifiers: ['wipe'],
  } only %}
#}

{% set classes = craft.twig.modifiers('image-video', modifiers ?? ['cover', 'fade']) %}

<div class="image-video {{ classes }}" data-module-reveal data-reveal-offset="1000">
  <div class="image-video__inner">
    {# Image #}
    {% if asset.kind == 'image' %}
      {% import '_macros/image' as image %}
      {{ image.get(asset, {
        transform: transform ?? 'scale',
        lazy: lazy ?? true,
        size: size ?? null,
      }) }}
    {% endif %}

    {# Video #}
    {% if asset.kind == 'video' %}
      {% include '_partials/video' with {
        url: asset.url,
      } only %}
    {% endif %}
  </div>
</div>
