/*
Layout - Accordion Group

A combination of content used in an accordion.
*/

.l-accordion-group {
}

.l-accordion-group__heading-button {
  @include reset-input;
}

// ---------------------------------------------------------------
// State - Active
// ---------------------------------------------------------------

.l-accordion-group.is-active {
  .l-accordion-group__heading-button {
    display: block;
    cursor: pointer;
    text-align: left;
    width: 100%;
  }

  .l-accordion-group__heading-inner {
    position: relative;
    display: flex;
    align-items: center;
  }

  .l-accordion-group__heading-text {
  }

  .l-accordion-group__heading-icon {
    @include expand-carat;
    --arrow-segment-width: 1.5rem;
  }

  .l-accordion-group__content {
    transition: max-height 0.5s ease(out-expo);
    overflow: clip;
  }

  .l-accordion-group__content-inner {
    transition: opacity 0.5s;
  }

  .l-accordion-group__content-innermost {
  }
}

// ---------------------------------------------------------------
// State - Expanding
// ---------------------------------------------------------------

.l-accordion-group.is-active
  .l-accordion-group__content:not([aria-hidden='false']) {
  max-height: 0 !important;

  .l-accordion-group__content-inner {
    opacity: 0;
  }
}

.l-accordion-group__heading-button[aria-expanded='true'] {
  .l-accordion-group__heading-icon {
    @include expand-carat-expanded;
  }
}

// ---------------------------------------------------------------
// Hover
// ---------------------------------------------------------------

.l-accordion-group.is-active {
  @include not-touch-hover {
    & .l-accordion-group__heading-button:not([aria-expanded='true']) {
    }
  }
}
