/*
Layout - Block Preview

Wraps a previewed block.
*/

.l-block-preview {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  justify-content: center;
  background-image: linear-gradient(
    45deg,
    #fff 10%,
    #f5f5f5 10%,
    #f5f5f5 50%,
    #fff 50%,
    #fff 60%,
    #f5f5f5 60%,
    #f5f5f5 100%
  );
  background-size: 14.14px 14.14px;
}
