@use '~/common' as *;

/*
Layout - Block

Reusable content container, primarily responsible for managing common
spacing and relationships between various vertical blocks of the site.
*/

@mixin l-block-max {
  @include outer-padding;

  .l-block__inner {
    @include max-width;
  }
}

@mixin space-top {
  padding-top: var(--size-block-vertical);
}

@mixin space-bottom {
  padding-bottom: var(--size-block-vertical);
}

.l-block {
  position: relative;
}

.l-block__inner {
}

// ---------------------------------------------------------------
// Modifier - Max Width
// ---------------------------------------------------------------

.l-block--max {
  @include l-block-max;
}

// ---------------------------------------------------------------
// Modifier - Padding
// ---------------------------------------------------------------

.l-block--space-top {
  @include space-top;
}

.l-block--space-bottom {
  @include space-bottom;
}

.l-block--space-vert {
  @include space-top;
  @include space-bottom;
}

// ---------------------------------------------------------------
// Modifier - Bleed
// ---------------------------------------------------------------

// "Bleed" sections will not automatically have space before or after them.
// This allows them to sit flush with their neighboring blocks.

@mixin bleed-top {
  padding-top: var(--size-none);
}

@mixin bleed-bottom {
  padding-bottom: var(--size-none);
}

.l-block--bleed-top:not(.l-block--bleed-top-mobile) {
  @include bleed-top;
}

.l-block--bleed-bottom:not(.l-block--bleed-bottom-mobile) {
  @include bleed-bottom;
}

.l-block--bleed-top-mobile {
  @include media('<medium') {
    @include bleed-top;
  }
}

.l-block--bleed-bottom-mobile {
  @include media('<medium') {
    @include bleed-bottom;
  }
}

// ---------------------------------------------------------------
// Modifier - Overflow Hidden
// ---------------------------------------------------------------

.l-block--overflow-hidden {
  overflow-x: clip;
}

// ---------------------------------------------------------------
// Background Color
// ---------------------------------------------------------------

.l-block--bg-light {
  @include theme-light;
  background-color: var(--theme-bg);
}

.l-block--bg-dark {
  @include theme-dark;
  background-color: var(--theme-bg);
}

// ---------------------------------------------------------------
// Adjacent Block Spacing
// ---------------------------------------------------------------

$bg-colors: light, dark;

@each $bg-color in $bg-colors {
  $color: '' + $bg-color;
  @include media('<medium') {
    .l-block--bg-#{$color}:not(.l-block--bleed-bottom)
      + .l-block--bg-#{$color}:not(.l-block--bleed-top):not(
        .l-block--bleed--top-mobile
      ) {
      margin-top: calc(-1 * var(--size-block-vertical));
    }
  }

  @include media('>=medium') {
    .l-block--bg-#{$color}:not(.l-block--bleed-bottom)
      + .l-block--bg-#{$color}:not(.l-block--bleed-top) {
      margin-top: calc(-1 * var(--size-block-vertical));
    }
  }
}

// ---------------------------------------------------------------
// Borders
// ---------------------------------------------------------------

.l-block--border-bottom.l-block--space-bottom {
  padding-bottom: var(--size-none);

  .l-block__inner {
    @include space-bottom;
  }
}

.l-block--border-top {
  border-top: 1px solid var(--theme-rule);

  &.l-block--space-top {
    @include space-top;
  }
}

// ---------------------------------------------------------------
// Entry Edit Highlight
// ---------------------------------------------------------------

body:has(.entry-edit-button) {
  .l-block:before {
    @include pseudo-absolute;
    pointer-events: none;
    inset: 0;
    box-shadow:
      0 0 0 1px var(--theme-text),
      0 0 20px var(--theme-text);
    transition: 0.3s;
    transition-property: display, opacity;
    transition-behavior: allow-discrete;
    opacity: 0;
    display: none;
    z-index: var(--z-index-block-edit);
  }
}

/* stylelint-disable-next-line scss/at-rule-no-unknown */
@starting-style {
  .l-block:before {
    opacity: 0;
    display: block;
  }
}

.l-block__inner {
  transition: opacity 0.3s;
}

body:has(
  .l-block .entry-edit-button__inner:hover,
  .l-block .entry-edit-button__inner:focus-visible
) {
  .l-block:not(
      :has(
        .entry-edit-button__inner:hover,
        .entry-edit-button__inner:focus-visible
      )
    )
    .l-block__inner {
    opacity: 0.2;
  }
}

.l-block:has(
  .entry-edit-button__inner:hover,
  .entry-edit-button__inner:focus-visible
) {
  &:before {
    opacity: 0.2;
    display: block;
  }
}

// ---------------------------------------------------------------
// Unique styles
// ---------------------------------------------------------------

// .l-block--foo + .l-block--bar {

// }
