{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,

  "plugins": [
    "@prettier/plugin-php"
  ],
  "overrides": [
    {
      "files": ["**/*.html", "**/*.json", "**/*.yaml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
