{# =============================================================== #}
{# Styleguide color Item
{# =============================================================== #}
{#
  {% include 'styleguide/_partials/styleguide-color-item' with {
    color: 'azule'
  } only %}
#}

<div class="styleguide-color-item">
  <div class="styleguide-color-item__example" style="--color: var(--color-{{ name }});"></div>

  <div class="styleguide-color-item__code">
    {% include 'styleguide/_partials/styleguide-code' with {
      code: "var(--color-#{ name })"
    } only %}
  </div>
</div>
