/*
Underline

Apply consistent underline to text.
*/

@mixin underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.3em;
  transition: text-decoration-color $transition-hover-color;
  text-decoration-color: transparent;
}

@mixin underline-reveal {
  text-decoration-color: currentcolor;
}
