// ===============================================================
// Main
// ===============================================================

// Vendor
@use 'normalize.css/normalize.css';
@use 'reset.css/reset.css';
@use '@splidejs/splide/css/core';

// Fonts
@use 'base/fonts';

// Base
@use 'base/base';
@use 'base/reveal';
@use 'base/helpers';

// Components
@use 'layout/**/*.scss';
@use 'objects/**/*.scss';

// Vendor Customizations
@use 'vendor-customization/**/*.scss';

// Styleguide
@use 'styleguide/**/*.scss';
