{# =============================================================== #}
{# Layout - Block Preview
{# =============================================================== #}
{#
  {% embed '_embeds/l-block-preview' %}
    {% block content %}
      …
    {% endblock %}
  {% endembed %}
#}

<div class="l-block-preview">
  {% block content %}{% endblock %}
</div>
