{# =============================================================== #}
{# Embed - Block
{# =============================================================== #}
{#
    {% embed '_embeds/l-block' with {
      classes: '',
      modifiers: ['max'],
      id: 'some-id'
      attr: {},
    } %}
      {% block content %}
        …
      {% endblock %}
    {% endembed %}
#}

{% set modifierClasses = craft.twig.modifiers('l-block', modifiers ?? []) %}

<section
  class="l-block {{ modifierClasses }} {{ classes ?? '' }}"
  {% if attr ?? null %}
    {{ attr(attr) }}
  {% endif %}
>
  {% if id ?? null %}
    {% include '_partials/anchor' with {
      id: id,
    } only %}
  {% endif %}

  <div class="l-block__inner">
    {% block content %}{% endblock %}
  </div>
</section>
