/*
Entry Edit Button

Button to edit an entry in CMS.
*/

.entry-edit-button {
  --entry-edit-button-inset: 1.5rem;
  z-index: var(--z-index-block-edit);
  pointer-events: none;
  position: absolute;
  display: grid;
  inset: 0;
  bottom: var(--size-section-vertical);
  padding-block: var(--entry-edit-button-inset);
}

.entry-edit-button__inner {
  position: sticky;
  align-self: start;
  justify-self: end;
  right: var(--entry-edit-button-inset);
  top: var(--entry-edit-button-inset);
  --craft-entry-edit-color: #32363d;
  --craft-entry-edit-border-radius: 9999px;
  --craft-entry-edit-transition: 0.35s cubic-bezier(0.39, 0, 0.04, 1);
  --craft-entry-edit-bg: linear-gradient(
    to bottom,
    oklch(from var(--craft-entry-edit-color) l c h / 0.6),
    oklch(from var(--craft-entry-edit-color) l c h / 0.7)
  );
  --craft-entry-edit-height: 3em;
  --r: calc(var(--craft-entry-edit-height) / 2);
  font-family:
    system-ui,
    BlinkMacSystemFont,
    -apple-system,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  color: white;
  display: inline-flex;
  align-items: center;
  font-size: 1.2em;
  line-height: var(--craft-entry-edit-height);
  transition: opacity 0.5s;
  opacity: 1;

  &:before {
    position: absolute;
    display: block;
    content: '';
    inset: 0;
    background: var(--craft-entry-edit-bg);
    backdrop-filter: blur(10px);
    transition: clip-path var(--craft-entry-edit-transition);
    clip-path: shape(
      from calc(100% - var(--r)) 0,
      hline to calc(100% - var(--r)),
      arc to 100% 50% of var(--r) cw,
      arc to calc(100% - var(--r)) 100% of var(--r) cw,
      hline to calc(100% - var(--r)),
      arc to calc(100% - var(--r) * 2) var(--r) of var(--r) cw,
      arc to calc(100% - var(--r)) 0 of var(--r) cw
    );
  }

  /* stylelint-disable-next-line scss/at-rule-no-unknown */
  @starting-style {
    opacity: 0;
  }
}

.entry-edit-button__label {
  height: var(--craft-entry-edit-height);
  padding-left: 18px;
  transition: opacity 0.2s;
  opacity: 0;
  position: relative;
}

.entry-edit-button__icon {
  width: var(--craft-entry-edit-height);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: var(--craft-entry-edit-height);
  pointer-events: all;

  svg {
    width: 16px;
    height: 16px;
  }
}

// ---------------------------------------------------------------
// State - Hover
// ---------------------------------------------------------------

.entry-edit-button__inner {
  &:hover,
  &:focus-visible {
    &:before {
      clip-path: shape(
        from var(--r) 0,
        hline to calc(100% - var(--r)),
        arc to 100% 50% of var(--r) cw,
        arc to calc(100% - var(--r)) 100% of var(--r) cw,
        hline to var(--r),
        arc to 0 var(--r) of var(--r) cw,
        arc to var(--r) 0 of var(--r) cw
      );
    }

    .entry-edit-button__label {
      opacity: 1;
      transition-delay: 0.15s;
      transition-duration: 0.2s;
    }

    .entry-edit-button__icon:before {
      opacity: 0;
    }
  }
}
