@use '~/common' as *;

/*
Global Header

Primary header for the site.
*/

.global-header {
}

.global-header__inner {
}

.global-header__logo {
  width: 20.8rem;
  color: var(--theme-text);
}

.global-header__nav {
}

.global-header__nav-full {
  @include media('<nav-full') {
    display: none;
  }
}

.global-header__nav-mobile {
  @include media('>=nav-full') {
    display: none;
  }
}

.global-header__toggle {
}
