@use '~/common' as *;

/*
Image Video

Either an image or a video asset.
*/

.image-video {
  background-color: var(--image-video-bg-color, var(--theme-bg-faint));
}

.image-video__inner {
  overflow: hidden;

  > img {
    width: 100%;
  }
}

// ---------------------------------------------------------------
// Modifier - Cover / Contain
// ---------------------------------------------------------------

.image-video--cover,
.image-video--contain {
  @include absolute;

  .image-video__inner {
    @include absolute;
  }
}

.image-video--cover {
  .image-video__inner {
    > img,
    > .video {
      @include bg-cover;
    }
  }
}

.image-video--contain {
  .image-video__inner {
    > img,
    > .video {
      @include bg-cover($fit: contain);
    }
  }
}

// ---------------------------------------------------------------
// Modifier - Fade
// ---------------------------------------------------------------

.image-video--fade {
  .image-video__inner {
    transition: 2s var(--ease-out-expo);
    transition-property: transform, opacity;

    .js & {
      opacity: 0.001;
      transform: scale(1.01);
    }
  }

  &.is-visible.is-ready {
    --load-opacity: 0;

    .image-video__inner {
      opacity: 1;
      transform: scale(1.01);
    }
  }
}

// ---------------------------------------------------------------
// Modifier - Wipe
// ---------------------------------------------------------------

.image-video--wipe {
  // Left
  .js &.image-video--wipe--left .image-video__inner {
    @include clip-reveal('left');
  }

  // Right
  .js &.image-video--wipe--right .image-video__inner {
    @include clip-reveal('right');
  }

  // Down
  .js &.image-video--wipe--down .image-video__inner {
    @include clip-reveal('down');
  }

  &.is-visible.is-ready {
    .image-video__inner {
      @include clip-reveal-visible;
    }
  }
}
