@use '~/common' as *;

/*
Rich Text

Styling for common HTML text elements
*/

@mixin rich-text-inline-styles {
  // Body, Bold + Italic
  strong,
  b {
    font-weight: bold;
  }

  em,
  i {
    font-style: italic;
  }

  // Subscript / Superscript
  sup {
    font-variant-position: super;
    top: 0;
  }
}

.rich-text {
  --rich-text-spacing: 3rem;
  --rich-text-list-indent: 3rem;
  --rich-text-list-item-margin: 1.2rem;

  // Basic Inline Styles
  @include rich-text-inline-styles;

  // Headings

  h2 {
  }

  h3 {
  }

  // Links

  a {
    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.1em;
    }
  }

  // Lists

  ul,
  ol {
    li {
    }

    li + li,
    ul {
      margin-top: var(--rich-text-list-item-margin);
    }
  }

  ul {
    text-align: left;

    @include media('>=medium') {
      margin-left: 0;
    }

    li {
      padding-left: var(--rich-text-list-indent);
      position: relative;
    }

    li:before {
      content: '\2022';
      position: absolute;
      left: 0;
    }

    ul {
      padding-left: 0;
    }

    ul > li {
      padding-left: var(--rich-text-list-indent);
    }

    ul > li:before {
      content: '\2013';
    }
  }

  ol {
    list-style: none;
    counter-reset: ol-counter;

    li {
      counter-increment: ol-counter;
      position: relative;
      padding-left: var(--rich-text-list-indent);
    }

    li:before {
      content: counter(ol-counter) '.';
      position: absolute;
      left: 0;
    }
  }

  // Common Spacing

  > * + * {
    margin-top: var(--rich-text-spacing);
  }
}
