@use '~/common' as *;

/*
Text Set

Common combinations of text.
*/

.text-set {
  color: var(--theme-text);
}

.text-set__subhead {
}

.text-set__heading {
}

.text-set__text {
  margin-top: var(--size-32);
}

.text-set__footer {
  margin-top: var(--size-32);
}

// ---------------------------------------------------------------
// Modifier - Large
// ---------------------------------------------------------------

.text-set--large {
  .text-set__heading {
    margin-top: var(--size-32);
  }
}

// ---------------------------------------------------------------
// Reveal
// ---------------------------------------------------------------

.js .text-set {
  $base-transition-delay: 0.2s;

  @for $idx from 1 through 10 {
    > *:nth-child(#{$idx}) {
      transition-delay: 0.3s * $idx + $base-transition-delay;
    }
  }
}
