@use './variables' as *;

// Sass Toolkit
@forward '@malven/sass-toolkit' with (
  $toolkit-breakpoints: $breakpoints,
  $toolkit-font-stacks: $font-stacks,
  $toolkit-type-styles: $type-styles,
  $toolkit-sizes: $sizes
);
