{# ================================================================== #}
{# One
{# ================================================================== #}

{% extends "_layout" %}

{% do seomatic.meta.seoTitle('One') %}

{% block content %}
  <h1>One</h1>
{% endblock %}
