{# ================================================================== #}
{# Two
{# ================================================================== #}

{% extends "_layout" %}

{% do seomatic.meta.seoTitle('Two') %}

{% block content %}
  <h1>Two</h1>
{% endblock %}
