/*
Hide

Mixins to help with hiding content
*/

@mixin hide-text {
  overflow: clip;
  text-indent: -500px;
  display: block;
}

@mixin hide-visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: clip;
  padding: 0;
  position: absolute;
  width: 1px;
}
