/*
Not Touch

Apply styles only if we're not on a touch device
*/

@mixin not-touch {
  #{not-touch-selector()} & {
    @content;
  }
}

@mixin not-touch-hover {
  @include not-touch {
    &:hover {
      @content;
    }
  }

  &:focus {
    @content;
  }
}

@function not-touch-selector() {
  @return 'html:not(.is-touch)';
}
