{# =============================================================== #}
{# Block - Post Markup
{# =============================================================== #}

<div class="post-markup">
  {% include '_partials/rich-text' with {
    content: block.markup,
    modifiers: [],
  } only %}
</div>
