@use '../common' as *;

// ===============================================================
// Base Styles
// ===============================================================

/*
  General styling to provide a clean, solid base
*/

// Toolkit Properties + Helpers
@include output-size-custom-properties;
@include output-type-helpers;
@include output-size-helpers;

:root {
  // Top-level CSS custom properties
}

html,
body {
  background-color: var(--theme-bg);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  // Don't transition anything until we're ready
  &.preload-transitions * {
    transition: none !important;
  }
}

body {
  color: var(--theme-text);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

// Text selection
*::selection {
  color: var(--theme-selection-text);
  background-color: var(--theme-selection-bg);
}

button,
select,
::file-selector-button {
  // Prevent Safari iOS from adding styles to elements
  color: inherit;
  font-weight: normal;
}

// reCAPTCHA Badge
.grecaptcha-badge {
  visibility: hidden;
}

// No transitions with reduced motion
@include reduced-motion {
  * {
    transition: none !important;
    transition-delay: 0s !important;
  }
}

// Hide custom elements until they are ready
/* stylelint-disable-next-line selector-type-no-unknown */
:not(turbo-frame):not(:defined) {
  visibility: hidden;
}
