// ---------------------------------------------------------------
// Theme
// ---------------------------------------------------------------

// Mixins

@mixin theme-light {
  --theme-bg: #{color(white)};
  --theme-bg-transparent: #{rgba(color(white), 0)};
  --theme-text: #{color(black)};
  --theme-text-transparent: #{rgba(color(black), 0)};
  --theme-placeholder-text: #{rgba(color(black), 0.4)};
  --theme-scrollbar-bg: #666;
  --theme-scrollbar-fg: #fff;
  color: var(--theme-text);
}

@mixin theme-dark {
  --theme-bg: #{color(black)};
  --theme-bg-transparent: #{rgba(color(black), 0)};
  --theme-text: #{color(white)};
  --theme-text-transparent: #{rgba(color(black), 0)};
  --theme-placeholder-text: #{rgba(color(white), 0.5)};
  --theme-scrollbar-bg: #111;
  --theme-scrollbar-fg: #555;
  color: var(--theme-text);
}

// Helpers

.h-theme-light {
  @include theme-light;
}

.h-theme-dark {
  @include theme-dark;
}
